<div class="card">
  <div class="card-divider">
    <h3>Change your email address</h3>
  </div>

  <div class="card-section">
  <%= form_for @changeset, auth_path(@conn, :update_email), fn f -> %>

    <%= email_input f, :email, placeholder: "Change your email address"  %>
    <%= error_tag f, :email %>

    <%= submit raw("Continue <i class=\"fa fa-chevron-right\"></i>"), class: "button primary expanded" %>
  <% end %>
  </div>
</div>

