<%= form_for @conn, auth_path(@conn, :handle_login), [as: :login], fn f -> %>
  <%= text_input f, :identifier, placeholder: "Username or email address" %>
  <%= password_input f, :password, placeholder: "Password"  %>
  <%= submit "Sign in", class: "button primary expanded" %>
<% end %>
<p>
  <%= link "Not a member yet?", to: auth_path(@conn, :signup) %>
</p><p>
  <%= link "Forgot your password?", to: auth_path(@conn, :recover_password) %>
</p>

