<div class="callout">
  Enter your user name or email address and we'll email you
  instructions on how to reset your password.
</div>
<%= form_for @conn, auth_path(@conn, :handle_recover_password), [as: :recover_password], fn f -> %>
  <%= text_input f, :identifier, placeholder: "Username or email address" %>
  <%= submit "Recover password", class: "button primary expanded" %>
<% end %>
