<form method="GET" action="<%= episodes_path(@conn, :index) %>">
  <div class="input-group">
    <span class="input-group-label"><i class="fa fa-search"></i></span>
    <input class="input-group-field" type="search" name="q" placeholder="Find an episode">
  </div>
</form>

<%= for episode <- @episodes do %>
<%= Podcatcher.Web.ComponentsView.render "episode_card.html", conn: @conn, episode: episode %>
<% end %>
