<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="csrf-token" content="<%= get_csrf_token() %>">

  <!-- Compressed CSS -->
  <link href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css" rel="stylesheet" >
  <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
  <link href="//cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/skin/blue.monday/css/jplayer.blue.monday.min.css" rel="stylesheet" type="text/css">

  <!-- Compressed JavaScript -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>

  <title>Podbaby<%= if assigns[:page_title] do %> - <%= assigns[:page_title] %><% end %></title>

  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>

<body class="no-js">
  <div class="title-bar" data-responsive-toggle="top-bar" data-hide-for="large">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
  </div>
  <div class="top-bar" id="top-bar">
    <div class="top-bar-left">
      <ul class="vertical large-horizontal menu">
        <li class="menu-text"><i class="fa fa-headphones"></i> Podbaby</li>
        <%= if assigns[:user] do %>
        <%= active_link(@conn, raw("<i class=\"fa fa-rss\"></i> My podcasts"), to: subscriptions_path(@conn, :index), wrap_tag: :li) %>
        <%= active_link(@conn, raw("<i class=\"fa fa-bookmark\"></i> Bookmarks"), to: bookmarks_path(@conn, :index), wrap_tag: :li) %>
        <% end %>
        <%= active_link(@conn, raw("<i class=\"fa fa-flash\"></i> New releases"), to: episodes_path(@conn, :index), wrap_tag: :li) %>
        <%= active_link(@conn, raw("<i class=\"fa fa-search\"></i> Discover"), to: podcasts_path(@conn, :index), wrap_tag: :li) %>
        <%= active_link(@conn, raw("<i class=\"fa fa-folder-open\"></i> Browse"), to: categories_path(@conn, :index), wrap_tag: :li) %>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="vertical large-horizontal menu">
        <%= if assigns[:user] do %>
        <li>
          <a href="#"><i class="fa fa-cog"></i> Settings</a>
        </li>
        <%= active_link(@conn, raw("<i class=\"fa fa-sign-out\"></i> Sign out"), to: auth_path(@conn, :logout), wrap_tag: :li) %>
        <% else %>
        <%= active_link(@conn, raw("<i class=\"fa fa-sign-in\"></i> Login"), to: login_url(@conn), wrap_tag: :li, active: ~r/\/login*/) %>
        <%= active_link(@conn, raw("<i class=\"fa fa-user-plus\"></i> Signup"), to: auth_path(@conn, :signup,  next: @conn.request_path), wrap_tag: :li, active: ~r/\/signup*/) %>
        <% end %>
      </ul>
   </div>

  </div>

  <div id="notifications" class="row column">
    <%= if msg = get_flash(@conn, :info) do %>
    <div class="callout">
      <p><%= msg %></p>
    </div>
    <% end %>
    <%= if msg = get_flash(@conn, :warning) do %>
    <div class="callout warning">
      <p><%= msg %></p>
    </div>
    <% end %>
    <%= if msg = get_flash(@conn, :error) do %>
    <div class="callout alert">
      <p><%= msg %></p>
    </div>
    <% end %>
    <%= if msg = get_flash(@conn, :success) do %>
    <div class="callout success">
      <p><%= msg %></p>
    </div>
    <% end %>
  </div>

  <div class="row column">
    <%= render @view_module, @view_template, assigns %>
  </div>

  <!-- /container -->
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>
