/* This file is for your main application css. */

.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 10em) {
  .top-bar {
    margin-bottom: 1.875em;
  }
  .title-bar {
    margin-bottom: 0.5em;
  }
  .no-js .top-bar {
    display: block;
  }
  .no-js .title-bar {
    display: none;
  }
}

audio {
  width: 100% !important;
}

/* category labels */

.categories a.label {
  background-color: #3f1c3a;
  color: #fff;
  padding: 0.6rem;
  margin-top: 0.1rem;
}


/* center callouts */

#notifications .callout {
  position: fixed;
  width: 90%;
  text-align: center;
  opacity: 0.9;
}

.splash-page {
  background: url(/images/headphones.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  height: 500px;
  padding: 100px;
}

.splash-page a {
  color: #fff;
}
