  <table class="stack">
  <tbody>
  <%= for category <- @categories do %>
  <tr>
    <td>
      <h4>
      <%= link category.name, to: category_url(@conn, category) %>
      </h4>
    </td>
    <td>
    <%= Podcatcher.Web.ComponentsView.render "categories.html", conn: @conn, categories: category.children %>
    </td>
  </tr>
  <% end %>
  </tbody>
  </table>
