  <%= for category <- @categories do %>
  <div class="card">
    <div class="card-divider">
      <h3><%= link(category.name, to: category_url(@conn, category)) %></h3>
    </div>
    <div class="card-section">
    <%= Podcatcher.Web.ComponentsView.render "categories.html", conn: @conn, categories: category.children %>
    </div>
  </div>
  <% end %>
